<%- include('../_layout/header') %> 

<h2 class="page-title">Maintenance</h2>
<form action="/admin/backup" method="get">
      <button class="btn btn-primary">Backup</button>
      <button class="btn btn-primary">Restore</button>
</form>

<%- include('../_layout/footer')  %> 
