<%- include('_layout/header') %> 



<div class="container-page">
    <div class="title">
      <h1 data-aos="fade-up-right">
        Welcome to <br />
        Contribution System
      </h1>
    </div>
  </div>

<%- include('_layout/footer')  %> 
